$offwhite : #eee;
$blackish : #333;
$border : #777;


$tableBackground : white;
$baseLineHeight : 1em;
$tableBorder : #ccc;
$bodyBackground : white;
$baseBorderRadius : 5;
$tableBackgroundAccent : #f8f8f8;

html {
   background: $offwhite;
   color: $blackish;
}