* {
    box-sizing: border-box;
}
html, body {
	height: 100%;
	width: 100%;
}

%box {
    background: white;
    border-radius: 0.5rem;
    padding: 1rem;
}
.wrapper {
	display: table;
    margin: 0 auto;
}
.primary {
    float: left;
    max-width: 850px;
    padding: 1em 3em;
    @media #{$mobileish} {
    	clear: both;
        width: 90%;
    }
    section {
        padding: 3.5em 0 0;
    }
}
.secondary {
	float: left;
    margin: 10em 0 0;
    width: 460px;

    @media #{$mobileish} {
        width: 90%;
    }
}