body {
    font-size: 1rem;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4;
}

h1 {
    font-size: 2rem;
    margin: 0 0 1rem;
}
h2 {
    font-size: 1.3rem;
    margin: 0 0 1rem;
}
h3 {
    font-size: 1.2rem;
    margin: 0;
}
p {
    font-size: 1rem;
}
h1, h2, h3 {
    font-weight: bold;
} 
p {
	margin: 1rem 0;
    
    &:last-child {
       margin: 0;
    }
}