@import "compass/reset";
@import "compass/css3";

$lighter : #f8f8f8;

%box {
    background: white;
    border-radius: 5px;
}

@import "partials/rainbows";
@import "partials/table";

@import "partials/base";
@import "partials/clingify";