.some-sidebar {
    div {
        height: 200px;
    }
    .one {
        background: rgba(red,0.2);
    }
    .two {
        background: rgba(blue,0.2);
    }
    .three {
        background: rgba(green,0.2);
    }
}